<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="NRojasProgramacionNCapas"
      connectionString="Data Source=.;Initial Catalog=NRojasProgramacionNCapas;Persist Security Info=True;User ID=sa;Password=pass@word1"
      providerName="System.Data.SqlClient"/>
    <add name="NRojasProgramacionNCapasEntities"
      connectionString="metadata=res://*/ejemplo.csdl|res://*/ejemplo.ssdl|res://*/ejemplo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NRojasProgramacionNCapas;persist security info=True;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOperaciones" />
        <binding name="BasicHttpBinding_IUsuario" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:32695/Operaciones.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IOperaciones" contract="OperacionesService.IOperaciones"
        name="BasicHttpBinding_IOperaciones" />
      <endpoint address="http://localhost:32695/Usuario.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUsuario" contract="UsuarioService.IUsuario"
        name="BasicHttpBinding_IUsuario" />
    </client>
  </system.serviceModel>
</configuration>